---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            ul {
                list-style-type: none;
                padding: unset;
            }
            ul li {
                display: flex;
            }
            ul li :global(time) {
                flex: 0 0 130px;
                font-style: italic;
                color: #595959;
            }
            ul li a:visited {
                color: #8e32dc;
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <ol class="relative border-l border-gray-200 dark:border-gray-700">
                    {
                        posts.map((post) => (
                            <li class="mb-10 ml-4">
                                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                <span class="dark:text-gray-500"><FormattedDate date={post.data.pubDate} /></span>
                                <a href={`/blog/${post.slug}/`} class="text-lg font-semibold text-gray-900 dark:text-white ml-5 hover:text-blue-700">{post.data.title}</a>
                            </li>
                        ))
                    }
                </ol>
            </section>
        </main>
        <Footer />
    </body>
</html>
